   <a href="/dashboard/newpost"
            class="add-post bg-blue-950 h-[70px] w-[70px] grid place-items-center rounded-full fixed bottom-[70px] right-[50px] shadow-lg shadow-[rgba(0,0,0,0.4)] hover:scale-[1.08] cursor-pointer transition-all duration-300"
          >
            <i
              class="fa-solid fa-file-circle-plus text-[1.8rem] pl-[3px] text-gray-200"
            ></i>
          </a>