
<section
      class="user-blogs rounded-md w-[90%] mt-[40px] h-[650px] p-[20px] m-auto flex flex-col gap-[10px] overflow-y-scroll"
    >
{{#each blogPosts}}
   <a
   href="/dashboard/edit/{{id}}"
        class="blog  text-white bg-blue-950 p-[25px] text-[1.3rem] cursor-pointer hover:translate-y-[-3px] transition rounded-md shadow-md shadow-[rgba(0,0,0,0.4)] font-[500] flex justify-between items-center"
      >
        <p class="blog-title">{{title}}</p>
        <span class="blog-posted-date">{{getDate createdAt}}</span>
      </a>
 
    
{{/each}}
    </section>


{{>add-post-button}}

